#Configure Azure MySQL flexible Server Connection
DATABASE_URL=mysql://user:password@endpoint:port/cs732db
DB_SSL_CA_PATH=./cert/DigiCertGlobalRootG2.crt.pem

#Configure Firebase Encoded with BASE64
FIREBASE_CONFIG_BASE64=

#Configure AWS S3 Secrets
AWS_REGION=ap-southeast-2
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_BUCKET_NAME=